// ### Primary

// Very Dark Magenta: hsl(300, 43%, 22%)
// Soft Pink: hsl(333, 80%, 67%)

// ### Neutral

// Dark Grayish Magenta: hsl(303, 10%, 53%)
// Light Grayish Magenta: hsl(300, 24%, 96%)
// White: hsl(0, 0%, 100%)

$black: #111111 !default;
$white: #f2f2f2 !default;
$selection-bg: #72bc38 !default;
$magenta-color: hsl(300, 43%, 22%);
$pink-color: hsl(333, 80%, 67%);
$darkGrayish-color: hsl(303, 10%, 53%);
$lightGrayish-color: hsl(300, 24%, 96%);
$white-color: hsl(0, 0%, 100%);
$black-color: rgb(17, 17, 17);
